<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Student confirmation Page</title>
</head>
<body>
<h3>Student confirmation Page</h3>

The Student is confirmed: <span th:text="${student.firstName} + ' ' + ${student.lastName}"></span>
<br/>
Free passes: <span th:text="${student.freePasses}"></span>
<br/>
portal code: <span th:text="${student.postalCode}"></span>
<br/>
Your course code is:
<span th:text="${student.courseCode}"></span> <br/>
<!--Your country is: <span th:text="${student.country}"></span> <br/>-->
<!--Your favorite language is: <span th:text="${student.favoriteLanguage}"></span> <br/>-->
<!--Your favorite systems are:-->
<!--<ul>-->
<!--    <li th:each="tempSystem : ${student.favoriteSystems}" th:text="${tempSystem}"></li>-->
<!--</ul>-->

</body>
</html>