<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/demo.css}"/>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>Student Registration Form</title>
</head>
<body>
<h3>Student Registration Form</h3>
<form method="POST" th:action="@{/processStudentForm}" th:object="${student}">
    <!-- *{...} is shortcut syntax for: ${student.firstName} -->
    <!-- Spring MVC may read student form the model and call student.getFirstName() and student.getLastName() -->
    First name: <input th:field="*{firstName}" type="text">
    <br/>
    Last name: <input th:field="*{lastName}" type="text">
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="error"></span>
    <br/>

    Free pass: <input th:field="*{freePasses}" type="text">
    <span class="error" th:errors="*{freePasses}" th:if="${#fields.hasErrors('freePasses')}"></span>
    <br/>

    postal code: <input th:field="*{postalCode}" type="text">
    <span class="error" th:errors="*{postalCode}" th:if="${#fields.hasErrors('postalCode')}"></span>
    <br/>
    Course Code:
    <input th:field="*{courseCode}" type="text">
    <span th:if="${#fields.hasErrors('courseCode')}" th:errors="*{courseCode}" class="error"></span>
    <br/>

    <!--    <select th:field="*{country}">-->
    <!--        <option th:each="countryOption : ${countries}" th:value="${countryOption}" th:text="${countryOption}"></option>-->
    <!--    </select>-->
    <!--    <br/>-->

    <!--    Favorite Programming Language:-->
    <!--    <input type="radio" th:field="*{favoriteLanguage}" th:each="languageOption : ${languages}"-->
    <!--           th:value="${languageOption}" th:text="${languageOption}"/>-->

    <!--    <br/>-->

    <!--    Favorite Operating Systems:-->
    <!--    <input type="checkbox" th:field="*{favoriteSystems}" th:each="systemOption : ${systems}"-->
    <!--           th:value="${systemOption}" th:text="${systemOption}"/>-->

    <!--    <br/>-->

    <!-- Spring MVC may call student.setFirstName() and student.setLastName() when submitted -->
    <input type="submit" value="Submit">
</form>

</body>
</html>